<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
        <link rel="stylesheet" href="style.css" />

        <title>WKU Makerspace</title>
    </head>
    <body>
        <div id="header" class="container">
            <nav class="navbar navbar-sm navbar-expand-md navbar-light bg-faded">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="brand-wrapper pl-4" id="logo-container">
                    <a href="#" id="logo">
                        <img src="ms-logo-black.png" />
                    </a>
                </div>
            </nav>
        </div>
    
        <div id="body" class="container">
            <h1>Welcome!</h1>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-3">
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modalSignIn">Sign In</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#modalSignOut">Sign Out</button>
                </div>
                <div class="col-3"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modalCreateUser">Create User...</button>
                </div>
                <div class="col-3"></div>
            </div>

            <hr />
            <div id="queues" class="row mx-auto pr-0 p-4 border border-top-0 border-bottom border-light">
                <div class="queue">
                    <img class="queue-icon" src="3dprinter.svg" />
                    <h4 class="queue-title">3D Printer (PLA)</h4>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success"><strong>John Doe</strong> <span class="badge">3:15 pm - 4:15 pm</span></li>
                        <li class="list-group-item"><strong>John Doe</strong> <span class="badge">4:15 pm - 5:15 pm</span></li>
                        <li class="list-group-item"><strong>John Doe</strong> <span class="badge">5:15 pm - 6:15 pm</span></li>
                        <li class="list-group-item"><strong>John Doe</strong> <span class="badge">6:15 pm - 7:15 pm</span></li>
                    </ul>
                </div>
                <div class="queue">
                    <img class="queue-icon" src="3dprinter.svg" />
                    <h4 class="queue-title">3D Printer (ABS)</h4>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success"><strong>John Doe</strong> <span class="badge">3:15 pm - 4:15 pm</span></li>
                        <li class="list-group-item"><strong>John Doe</strong> <span class="badge">4:15 pm - 5:15 pm</span></li>
                        <li class="list-group-item"><strong>John Doe</strong> <span class="badge">5:15 pm - 6:15 pm</span></li>
                        <li class="list-group-item"><strong>John Doe</strong> <span class="badge">6:15 pm - 7:15 pm</span></li>
                    </ul>
                </div>
                <div class="queue">
                    <img class="queue-icon" src="vinyl.svg" />
                    <h4 class="queue-title">Vinyl Cutter</h4>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success"><strong>John Doe</strong> <span class="badge">3:15 pm - 4:15 pm</span></li>
                        <li class="list-group-item"><strong>John Doe</strong> <span class="badge">4:15 pm - 5:15 pm</span></li>
                        <li class="list-group-item"><strong>John Doe</strong> <span class="badge">5:15 pm - 6:15 pm</span></li>
                        <li class="list-group-item"><strong>John Doe</strong> <span class="badge">6:15 pm - 7:15 pm</span></li>
                    </ul>
                </div> 
                <div class="queue">
                    <img class="queue-icon" src="xcarve.svg" />
                    <h4 class="queue-title">X-Carve</h4>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success"><strong>John Doe</strong> <span class="badge">3:15 pm - 4:15 pm</span></li>
                        <li class="list-group-item"><strong>John Doe</strong> <span class="badge">4:15 pm - 5:15 pm</span></li>
                        <li class="list-group-item"><strong>John Doe</strong> <span class="badge">5:15 pm - 6:15 pm</span></li>
                        <li class="list-group-item"><strong>John Doe</strong> <span class="badge">6:15 pm - 7:15 pm</span></li>
                    </ul>
                </div>
                <div class="queue">
                    <img class="queue-icon" src="glowforge.svg" />
                    <h4 class="queue-title">Glowforge</h4>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success"><strong>John Doe</strong> <span class="badge">3:15 pm - 4:15 pm</span></li>
                        <li class="list-group-item"><strong>John Doe</strong> <span class="badge">4:15 pm - 5:15 pm</span></li>
                        <li class="list-group-item"><strong>John Doe</strong> <span class="badge">5:15 pm - 6:15 pm</span></li>
                        <li class="list-group-item"><strong>John Doe</strong> <span class="badge">6:15 pm - 7:15 pm</span></li>
                    </ul>
                </div>
            </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3">
                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modalScheduleAppt">Schedule Appointment...</button>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#modalCancelAppt">Cancel Appointment...</button>
            </div>
            <div class="col-3"></div>
        </div>


  <!-- BEGIN MODALS -->
	<div class="modal fade" id="modalSignIn" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalSignInTitle">Sign in...</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
        <form action="/signin" method="post" role="form">
          {{ forms['signin'].csrf }}
				<div class="modal-body form-group">
            <div class="col-6 input text">
              <label for="signin-id">ID#</label>
              <input type="text" class="form-control" id="signin-id" name="wkuid"/>
              <label for="signin-desc">Description</label>
              <input type="text" class="form-control" id="signin-desc" name="desc"/>
            </div>
            <div class="col-6 input submit">
              <button type="submit" class="btn btn-success">Sign in</button>
            </div>
          </div>
        </form>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modalSignOut" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalSignOutTitle">Sign out...</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
        <form action="/signout" method="post" role="form">
          {{ forms['signout'].csrf }}
				<div class="modal-body form-group">
            <div class="col-6 output text">
              <label for="signout-id">ID#</label>
              <input type="text" class="form-control" id="signout-id" name="wkuid"/>
            </div>
            <div class="col-6 output submit">
              <button type="submit" class="btn btn-success">Sign out</button>
            </div>
          </div>
        </form>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modalCreateUser" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalCreateUserTitle">Create user...</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
        <form action="/user_create" method="post" role="form">
          {{ forms['user_create'].csrf }}
				<div class="modal-body form-group">
            <div class="col-6 output text">
              <label for="create-id">ID#</label>
              <input type="text" class="form-control" id="create-id" name="wkuid"/>
              <label for="create-first">First name</label>
              <input type="text" class="form-control" id="create-first" name="first"/>
              <label for="create-last">Last name</label>
              <input type="text" class="form-control" id="create-last" name="last"/>
              <label for="create-phone">Phone</label>
              <input type="text" class="form-control" id="create-phone" name="phone"/>
            </div>
            <div class="col-6 output submit">
              <button type="submit" class="btn btn-success">Create</button>
            </div>
          </div>
        </form>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modalScheduleAppt" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalScheduleApptTitle">Schedule appointment...</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="col-6">
						<dt>Machine</dt>
						<dd>
							<select class="form-control form-control-lg">
								<option>Machine 1</option>
								<option>Machine 2</option>
								<option>Machine 3</option>
								<option>Machine 4</option>
								<option>Machine 5</option>
							</select>
						</dd>
						<dt>Date</dt>
						<dd></dd>
						<dt>Begin Time</dt>
						<dd></dd>
						<dt>End Time</dt>
						<dd></dd>
					</div>
					<div class="col-6">
						
					</div>
					<button type="button" class="btn btn-primary btn-block">Confirm</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modalCancelAppt" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalCancelApptTitle">Cancel appointment...</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="col-6">
						<dt>Machine</dt>
						<dd>
							<select class="form-control form-control-lg">
								<option>Machine 1</option>
								<option>Machine 2</option>
								<option>Machine 3</option>
								<option>Machine 4</option>
								<option>Machine 5</option>
							</select>
						</dd>
						<dt>Date</dt>
						<dd></dd>
					</div>
					<div class="col-6">
						
					</div>
					<button type="button" class="btn btn-primary btn-block">Confirm</button>
				</div>
			</div>
		</div>
	</div>
  <!-- END MODALS -->

        <hr />

        <div id="footer">
            Designed and typeset by Sasha V. Malone, Bootstrap &amp; FA, with love
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    </body>
</html>
